* {
    font-family: sans-serif;
    font-size: 24px;
}

#periods, #results {
    margin: 5px;
}

.header {
    padding: 5px;
    font-size: 26px;
}

button {
    margin: 5px;
    padding: 3px 5px;
}

#add-period-button {
    width: 800px;
}

.period-entry, .results-entry {
    margin: 5px 0;
    padding: 3px;
}

.period-entry > * {
    margin: 0 3px;
}

input {
    width: 250px;
}